body {
	font-family: Helvetica, sans-serif;
}



nav {
	height: 3em;
	padding-top: 2em;
	
	a {
	color:#697075;
	text-decoration: none;
	margin: 1em 1em 1em 1em;
	font-size: 1.25em; 
	}

	.pricing {
		color: #484848;
	}

}


.treepicture {
	background-image: url("../images/background.jpg");
	padding-top: 3em;
	padding-bottom: 3em;  

	h2 {
		color: white;
		font-size: 2.5em;
		text-align: center;
		margin-bottom: 0;
		margin-top: 0;
	
	
		.try {
			margin-top: 0;


		}
	}
}

.banner {
	margin-bottom: 2em;
}


.plans {
		
	h3 {
		color: white;
		font-size: 1em;
		text-align: center;
		padding-top: 2em;
	}


	p {
		color: white;
		font-size: 5em;
		text-align: center;
		margin-top: 0em;
		margin-bottom: 0em;
	}

	.permonth {
		padding-top: 0;
		padding-bottom: 2em; 
		margin-bottom: 0em;  
	}

	.feature {
		color: #5A676D;
		background-color: #F7F7F7;
		font-size: 1em;
		border-right: 1px solid #EAEAEA;
		border-bottom: 1px solid #EAEAEA;
		border-left: 1px solid #EAEAEA;   
		margin: 0 auto;
		padding: 1em 0em 1em 0em;
	}

	.choose {
		color: #343434;
		border-right: 1px solid #EAEAEA;
		border-bottom: 1px solid #EAEAEA;
		border-left: 1px solid #EAEAEA;   
		margin: 0 auto;
		margin-bottom: 1.5em;
		padding: 1em 0em 1em 0em;

	   p {
		color: #343434;
		background-color: #FFFFFF;
		font-size: 1em;
		font-weight: bold;  
		width: 7em;  
		border: 2px solid #EAEAEA;
		border-radius: 1.5em; 
		margin: 0 auto;
		padding: 1em 1em 1em 1em;
		}

	}
}

.pricepersonal {
	background-color: #4F934E;
	
	.permonth {
		color: #A6C8A6;
	}
}

.pricesmall {
	background-color: #2A4787;

	.permonth {
		color: #93A1C2;
	}
	
}

.priceenterprise {
	background-color: #111111;
	
	.permonth {
		color: #7E7E7E;
	}
}

.information {

	margin-top: 4em;


	h1 {
		font-size: 1.5em;
		text-align: center;
		margin-top: 3em;  
		letter-spacing: 0.25em; 
	}

	p {
		color: #526167;
		line-height: 2em;  
		font-size: 1.25em;  

	}
	
}

footer {
	margin-top: 1em;
	background-color: black;
	padding-top: 1em;  
	padding-bottom: 1em; 

}	

footer p {
	color: #7D7D7D;
	text-align: center;
	font-size: 1.25em; 
}

footer a {
	color: white
}

//Second breakpoint
@media(min-width: 479px) {
	.treepicture {
		padding-top: 6em;
		padding-bottom: 6em;    
	}
}

//Third breakpoint
@media(min-width: 767px) {

	.plans {
		overflow: hidden; 

		> section {
			float:left;
			width: 33.333%;
			box-sizing: border-box;
			border-left: 0.5em solid #FFFFFF;
			border-right: 0.5em solid #FFFFFF;
			margin-bottom: 0.5em;
		}
	}

	.information {
		overflow: hidden; 

		> div {
			float:left; 
			width: 50%; 
			box-sizing: border-box;
			border-left: 0.5em solid #FFFFFF;
			border-right: 0.5em solid #FFFFFF;
			margin-bottom: 0.5em;

		}
	}

}

	
//Fourth breakpoint 
@media(min-width: 979px) {
	.plans, .information {
	max-width: 980px;  
	padding: 1em 1em 1em 1em;  
	margin: 0 auto;      
	}
}

